{% extends "questions/base.html" %}

{% block content %}
{{ block.super }}
<div class="container">
  <form class="mb-3">
    <div class="input-group">
      <input type="text" class="form-control rounded-0" name="search_query" placeholder="Search e.g. pop_culture" maxlength="35" 
             pattern=".{0}|.{3,}" title="Empty or 3 characters minimum." value="{{ request.GET.search_query }}">
      <div class="input-group-btn">
        <input class="btn btn-primary" type="submit" value="Go">
      </div>
    </div>
  </form>
  <ul class="list-inline text-center">
  {% for difficulty in difficulties %}
    <li class="list-inline-item">
    {% if difficulty == filter_difficulty %}
      <a class="font-weight-bold" href="?search_query={{ search_query }}">{{ difficulty.name }}</a>
    {% else %}
      <a href="?filter={{ difficulty.pk }}&search_query={{ search_query }}">{{ difficulty.name }}</a>
    {% endif %}
    </li>
  {% endfor %}
  </ul>

  <p class="text-right mb-0"><a href="{% url "questions:create" %}">New Question</a></p>

  <div class="list-group mb-3">
  {% for question in question_list %}
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1 text-primary">{{ question.category }}</h5>
        <small class="text-muted">{{ question.difficulty }}</small>
      </div>
      <p class="mb-1">
        {{ question.text }}
        <span class="badge badge-primary">{{ question.answers.count }} answer{{ question.answers.count|pluralize }}</span>
      </p>
      <small class="text-muted">{{ question.created_on }}</small>
    </a>
  {% empty %}
    <p class="text-center">No results found!</p>
  {% endfor %}
  </div>
</div>
{% endblock content %}